# Project exclude paths
/.gradle/
/arch-plug/build/
/arch-plug/build/classes/java/main/
/arch-plug/build/classes/java/test/
/build/
*.iml
.idea/
.gradle/
build/
*.log
local.properties
out/
.cxx/
*.hprof
build-cache/
tmp/
site/